In [1]:
from client import Analizer

In [2]:
set_parameter = {
    'sep': ',',
    'encoding': 'ISO-8859-1'
}
analizer = Analizer("data/merge_train.csv", **set_parameter)
analizer.head()

,Unnamed: 0,ID_SEC,TARGET_VTAMOV,CODSUBSEGMENTO,PERFIL_TACTICO,PERFIL_DIGITAL,FLGSEXO,TIPESTCIVIL,TIPNIVELEDUCACIONAL,TIPSITUACIONLABORAL,...,RCC_D_TC,RCC_D_TOTAL,TRX_VEN,TRX_HBK,TRX_BMO,TRX_DIG,TOTALTRX,TRX_DIG_MON,TRX_DIG_NOMON,TOTALTRX_MON
0,0,1,0,X1N,ENALTA,DIG MON,M,SOL,BAC,DEP,...,40428.78,1247875.94,6,234,8,242,267,57,185,82
1,1,2,0,M1N,CONSUMO,DIG MON,F,SOL,LIC,DEP,...,7905.50,27905.50,3,14,0,14,53,2,12,38
2,2,3,0,X1N,EXCLUSIVO ALTO POTENCIAL,DIG MON,F,CAS,BAC,DEP,...,4970.24,4970.24,2,13,45,58,79,13,45,34
3,3,4,0,X1N,EXCLUSIVO,DIG MON,F,CAS,BAC,NDI,...,36611.01,51800.04,2,0,290,290,314,18,272,35
4,4,5,0,M1N,CONSUMO,DIG MON,F,SOL,TEC,IND,...,NaN,NaN,0,0,83,83,87,11,72,15

In [3]:
analizer.null_verificator()

                      Nulos  Cantidad Tipo Col
Unnamed: 0            False         0    int64
ID_SEC                False         0    int64
TARGET_VTAMOV         False         0    int64
CODSUBSEGMENTO        False         0   object
PERFIL_TACTICO         True       205   object
PERFIL_DIGITAL        False         0   object
FLGSEXO                True         1   object
TIPESTCIVIL           False         0   object
TIPNIVELEDUCACIONAL   False         0   object
TIPSITUACIONLABORAL   False         0   object
EDAD                  False         0    int64
DEPARTAMENTO           True       122   object
INGRESO_TABLA_BCAPER   True      2746  float64
FLG_AFLUENTE           True       205  float64
FLG_PASIVO             True       205  float64
FLG_ACTIVO             True       205  float64
FLG_INVERSION          True       205  float64
FLG_PREST_PER          True       205  float64
FLG_TC                 True       205  float64
FLG_HIP                True       205  float64
FLG_CTASUELDO          True       205  float64
FLG_CTAAHORRO          True       205  float64
FLG_FFMM               True       205  float64
CANT_FAMPROD           True       205  float64
SALDO_PASIVO           True       205  float64
SALDO_ACTIVO           True       205  float64
SALDO_PASIVO_N_6M      True       243  float64
SALDO_PREST_PER        True       205  float64
SALDO_TC               True       205  float64
SALDO_HIP              True       205  float64
SALDO_CTASUELDO        True       205  float64
SALDO_CTAAHORRO        True       205  float64
SALDO_FFMM             True       205  float64
RCC_D_VEH              True     39852  float64
RCC_D_HIP              True     39852  float64
RCC_D_TC               True     39852  float64
RCC_D_TOTAL            True     39852  float64
TRX_VEN               False         0    int64
TRX_HBK               False         0    int64
TRX_BMO               False         0    int64
TRX_DIG               False         0    int64
TOTALTRX              False         0    int64
TRX_DIG_MON           False         0    int64
TRX_DIG_NOMON         False         0    int64
TOTALTRX_MON          False         0    int64

In [4]:
MAX_NULL_FOR_ROW = 3
data = analizer.data.copy()
data.shape

(241513, 45)

In [5]:
"""
Lo que se realiza a continuacion es eliminar todas las filas que contengan
un numero de variables nulas superior a MAX_NULL_FOR_ROW
recordar:
sum(axis=1) indica que sumara los valores por columna
data.isnull() formara un dataframe indicando si cada elemnto presente es
              nulo o no (False, True)
"""
data_cut = data.loc[data.isnull().sum(axis=1) <= MAX_NULL_FOR_ROW]
data_cut.shape

(201661, 45)

In [6]:
analizer.data = data_cut
analizer.null_verificator()

                      Nulos  Cantidad Tipo Col
Unnamed: 0            False         0    int64
ID_SEC                False         0    int64
TARGET_VTAMOV         False         0    int64
CODSUBSEGMENTO        False         0   object
PERFIL_TACTICO        False         0   object
PERFIL_DIGITAL        False         0   object
FLGSEXO               False         0   object
TIPESTCIVIL           False         0   object
TIPNIVELEDUCACIONAL   False         0   object
TIPSITUACIONLABORAL   False         0   object
EDAD                  False         0    int64
DEPARTAMENTO           True        98   object
INGRESO_TABLA_BCAPER   True       757  float64
FLG_AFLUENTE          False         0  float64
FLG_PASIVO            False         0  float64
FLG_ACTIVO            False         0  float64
FLG_INVERSION         False         0  float64
FLG_PREST_PER         False         0  float64
FLG_TC                False         0  float64
FLG_HIP               False         0  float64
FLG_CTASUELDO         False         0  float64
FLG_CTAAHORRO         False         0  float64
FLG_FFMM              False         0  float64
CANT_FAMPROD          False         0  float64
SALDO_PASIVO          False         0  float64
SALDO_ACTIVO          False         0  float64
SALDO_PASIVO_N_6M      True        22  float64
SALDO_PREST_PER       False         0  float64
SALDO_TC              False         0  float64
SALDO_HIP             False         0  float64
SALDO_CTASUELDO       False         0  float64
SALDO_CTAAHORRO       False         0  float64
SALDO_FFMM            False         0  float64
RCC_D_VEH             False         0  float64
RCC_D_HIP             False         0  float64
RCC_D_TC              False         0  float64
RCC_D_TOTAL           False         0  float64
TRX_VEN               False         0    int64
TRX_HBK               False         0    int64
TRX_BMO               False         0    int64
TRX_DIG               False         0    int64
TOTALTRX              False         0    int64
TRX_DIG_MON           False         0    int64
TRX_DIG_NOMON         False         0    int64
TOTALTRX_MON          False         0    int64